:root{
    --primary-color: #4e3b31;
    --text-color: white;
    --bold: bold;

    /* Font */

    --title-font: 'Times New Roman', Times, serif;

    /* Fonts-Size */

    --title-size: 5rem;
    --subtitle-size: 3rem;
    --text-size: 1.4rem;
}


/* 1. Usa box-sizing más predecible */
*,
*::before,
::after {
  box-sizing: border-box;
}

/* 2. Elimina márgenes y paddings innecesarios  */
body,
h1, h2, h3, h4, h5, h6,
p, figure, blockquote,
dl, dd {
  margin: 0;
  padding: 0;
}

/* / 3. Mejora el rendering del texto / */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: system-ui, sans-serif;
}

/* / 4. Quita la decoración de enlaces / */
a {
  text-decoration: none;
  color: inherit;
}

/* / 5. Imágenes adaptables / */
img,
picture {
  max-width: 100%;
  display: block;
}

/* / 6. Formularios coherentes / */
input,
button,
textarea,
select {
  font: inherit;
}

/* / 7. Elimina listas decorativas / */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

ul{
    list-style: none;
}

/* / 8. Mejora del scroll */ 

html{
    scroll-behavior: smooth;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* ESTILOS GENERALES */

h1, h2, h3, h4, h5 ,h6{
    font-family: var(--title-font);
}

p{
    font-size: var(--font-size-base);
    font-family: Arial, sans-serif;
}

a{  
    font-size: var(--font-size-base);
}

body{
    background-color: var(--primary-color);
}

/* NAV-BAR */

/* BLOCK */

.nav-bar{
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8vh;
}

/* ELEMENT */

.nav-bar a{
    color: var(--text-color);
    font-weight: bold;
}

.nav-logo{
    list-style: none;
}

.nav-list{
    list-style: none;
    display: flex;
    gap: 5vh;
}

.nav-list li{
    display: inline-block;
}

/* PRESENTATION */

/* BLOCK */

.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* ELEMENTS */

.p-info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.p-info h2{
    text-align: center;
    color: var(--text-color);
    font-weight: var(--bold);
    font-size: var(--title-size);
}

.p-info p{
    color: var(--text-color);
    font-size: var(--text-size);
}

.p-button{
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    height: 4rem;
    width: 8rem;
    font-weight: var(--bold);
}

.btn:hover{
    cursor: pointer;
    background-color: peru;
}

/* ABOUT */

/* BLOCK */

.about{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ELEMENTS */

.about-info{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-size: var(--text-size);
    color: var(--text-color);
}

.about-img{
    width: 30%;
}

/* SERVICES */

/* BLOCK */

.services{
    padding-top: 40vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 42vh;
}

.services-info{
    color: var(--text-color);
    width: 20%;
}


/* ELEMENTS */

.services-info li{
    font-size: var(--text-size);
}

.services h2{
    color: var(--text-color);
    font-size: var(--title-size);
}

/* FORM */

/* BLOCK */

.email-form{
    background-image: url(./Jarrón.jpeg);
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.email-form h2{
    color: var(--text-color);
    font-size: var(--subtitle-size);
}

form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vh;
}

form input{
    background-color: transparent;
    border-color: white;
}

.form-value{
    font-size: 1rem;
    color: white;
    font-weight: var(--bold);
}
@media (max-width:768px) {
    .nav-bar{
        display: flex;
        justify-content: space-between;
        overflow-x: auto;
        padding-left: 2vh;
        padding-right: 2vh;
    }

    .nav-logo{
        padding: 0;
    }

    .nav-list{
        display: flex;
        gap: 2vh;
    }

    .p-info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p-info h2{
        font-size: 4rem;
    }

    .p-info p{
        width: 80%;
        font-size: 1rem;
    }

    .about{
        display: flex;
        flex-direction: column;
        gap: 5vh;
    }

    .about-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .about-info p{
        font-size: 1rem;
    }

    .about-info h2{
        font-size: 4rem;
    }

    .about img{
        width: 80%;
    }

    .services{
        padding-top: 10vh;
        padding-bottom: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .services h2{
        font-size: 4rem;
    }

    .services-info{
        width: 80%;
    }

    .email-form h2{
        font-size: 2rem;
        text-align: center;
    }

}







